.main__header {
  width: 1440px;
  height: 655px;
  background: url("../img/Rectangle8.png");
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-size: 48px;
  line-height: 59px;
  max-width: 586px;
  margin: 48px 0 0 0;
  color: #ffffff;
}

.main__text {
  margin: 24px 0 0 0;
  font-size: 20px;
  line-height: 142%;
  color: #ffffff;
  max-width: 586px;
}

.btn__stats {
  margin: 32px 0 0 0;
  width: 154px;
  height: 56px;
  background: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 142%;
  color: #3a80ba;
  outline: none !important;
  border: 0px;
}

.mobile__container {
  position: relative;
}

.mobile {
  height: 555px;
  width: 276px;
  background-color: rgba(220, 220, 220, 0);
  margin: 60px 60px 0 0;
  border: 18px solid #ffffff;
  border-radius: 40px;
  position: relative;
  z-index: 4;
}
.mobile1 {
  position: absolute;
  height: 555px;
  width: 276px;
  right: -17px;
  top: -17px;
  background-color: rgba(220, 220, 220, 0);
  border: 5px solid #acacac;
  opacity: 0.1;
  border-radius: 40px;
}

.mobile3 {
  position: absolute;
  height: 30px;
  width: 120px;
  right: 61px;
  top: -13px;
  border-radius: 35px;
  background-color: #ffffff;
}

.mobile4 {
  position: absolute;
  height: 4px;
  width: 35px;
  right: 42px;
  top: 14px;
  border-radius: 35px;
  background-color: #000000;
}

.mobile5 {
  position: absolute;
  height: 7px;
  width: 7px;
  right: 25px;
  top: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.mobile6 {
  position: absolute;
  height: 4px;
  width: 30px;
  right: 107px;
  top: 538px;
  border-radius: 10px;
  /* border: 2px solid #000000; */
  background-color: #cecece;
}

.mobile__btn1 {
  position: absolute;
  height: 25px;
  width: 5px;
  right: 256px;
  top: 57px;
  border-radius: 35px;
  background-color: #ffffff;
}

.mobile__btn2 {
  position: absolute;
  height: 44px;
  width: 5px;
  right: 256px;
  top: 97px;
  border-radius: 35px;
  background-color: #ffffff;
}

.mobile__btn3 {
  position: absolute;
  height: 44px;
  width: 5px;
  right: 256px;
  top: 149px;
  border-radius: 35px;
  background-color: #ffffff;
}

.mobile__btn4 {
  position: absolute;
  height: 65px;
  width: 5px;
  right: -19px;
  top: 113px;
  border-radius: 35px;
  background-color: #ffffff;
}

.mobile_pic {
  position: absolute;
  top: -3px;
  right: -1px;
  height: 526px;
  width: 243px;
  border-radius: 27px;
  background: url("../img/320px.png");
}

.mobile__shadow {
  position: absolute;
  top: 577px;
  right: 18px;
  height: 60px;
  width: 360px;
  background: url("../img/Shadow.png");
  z-index: 1;
}

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__bodytitle {
  font-size: 32px;
  line-height: 39px;
  color: #1a1a1a;
  max-width: 580px;
  padding: 0 40px;
  text-align: center;
}

.main__bodytext {
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #7e7e7e;
  max-width: 780px;
  margin: 24px 0 0 0;
}

.body__cards {
  display: flex;
  margin: 40px 0 128px 0;
}

.body__card {
  box-shadow: 0px 4px 16px;
  border-radius: 32px;
  height: 323px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 96px;
  background: url("../img/Vector.png");
}

.card__pic1 {
  width: 56px;
  height: 56px;
  margin: 0 0 10px 0;
}

.card__pic2 {
  width: 56px;
  height: 56px;
  margin: 0 0 10px 0;
}

.card__pic3 {
  width: 56px;
  height: 44px;
  margin: 0 0 10px 0;
}

.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}

.card__text {
  padding: 0 30px;
  font-size: 16px;
  color: #7e7e7e;
}

.main__footer {
  width: 1440px;
  height: 184px;
  background: url("../img/Rectangle5.png");
  display: flex;
}

.footer__subdiv {
  height: 64px;
  width: 580px;
  margin: 0 0 10px 22%;
  position: relative;
}
.footer__sub {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 162%;
  color: #b9b9b9;
  padding: 20px;
}

.sub__btn {
  width: 176px;
  height: 56px;
  background: #3a80ba;
  border-radius: 8px;
  position: absolute;
  left: 401px;
  top: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
