.table {
}

.table__header {
  background-color: #3a80ba;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: 4% 13% 13% 26% 7% 13% 10% 14%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  height: 60px;
}

.table__header > * {
  border-right: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__header > *:last-child {
  border-right: none;
}

.table__row {
  text-align: center;
  padding: 6px 0;
  display: grid;
  grid-template-columns: 4% 13% 13% 26% 7% 13% 10% 14%;
  text-decoration: none;
}

.table__data {
  height: 32px;
}
.table__data:nth-child {
  height: 32px;
  background-color: darkgray;
}

.trow:nth-child(odd) {
  background-color: #f1f1f1;
}
